*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

html{
    font-size: 20px;

}

body{
    height: 100vh;
    background: linear-gradient(90deg, rgba(111,111,111,1) 55%, rgba(82,179,196,1) 96%);

}

.heading{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: white;
}

.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 2rem; */
}

.login-form{
    background-color: aqua;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0 40px 0 40px;
}

.login-form input{
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
}

.login-form div{
    gap: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit{
    background: none;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: gray;
    color: white;
}

@media(max-width:640px){
    html{
        font-size: 18px;
    }

    .login-form{
        padding: 2rem;
    }

    .login-form div{
        gap: 1rem;
    }

    .heading{
        font-size: 2rem;
    }
}