*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    /* background-image:  */
    background: url(./images/image1.png),linear-gradient(90deg, rgba(111,111,111,1) 55%, rgba(82,179,196,1) 96%);
    background-size: 36%,auto;
    background-repeat: no-repeat;
    background-position: top left;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 50px;
    padding: 50px;
}

h1{
    color: black;
    margin-bottom: 60px;
    font-size: 80px;
}

.div-container{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
   justify-content: center;
    gap: 30px;
    width: 80%;
}


.divs{
    padding: 50px 70px;
    background-color:whitesmoke;
    opacity: 0.6;
    border-radius: 12px;
    transition: all 0.3s;
}

a{
    text-decoration: none;
    font-size: 26px;
    color:black;
    transition: all 0.3s;

}

.divs:hover {
    background-color: black;
    opacity: 0.6;
}

.divs:hover a{
    color: white;
}